<!DOCTYPE html>
<html>
<head>
    <title>Chat - page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/chatstyle.css">
</head>
<body>
    <div class="container">
        <div class="chatscreen">
            <div class="header">
                <h1>User name</h1>
            </div>
            <div class="messages"></div>
            <div class="containerchat">
                <input type="text" class="text" placeholder="Type your text here">
                <div class="send"></div>
            </div>
        </div>


        <div class="contactscreen">
            <ul>
                <span></span><li>Mariana Echeverri</li>
                <span></span><li>Kevin Espinosa</li>
                <span></span><li>Monda Perez</li>
                <span></span><li>Naruto Uzumaku</li>
                <span></span><li>Sabrina Spellman</li>
                <span></span><li>Nairobi Papel</li>
                <span></span><li>Aja tu sabes</li>
              </ul>
        </div>

    </div>
</body>
</html>
